<div class="container">
  <div class="row">
    <div class="col-12 my-4">
      <h5>タグが<%= @tag.tag_name %>の投稿一覧</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 my-4">
      <h5>タグ一覧</h5>
      <% @tag_list.each do |list| %>
        <%= link_to list.tag_name, tag_reviews_path(tag_id: list.id), class: "d-block my-2" %>
        <%= "(#{list.reviews.count})" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <% @reviews.each do |review| %>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= link_to review.post_item.item_name, post_item_review_path(review.post_item, review) %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= review.post_item.shop.shop_name %></h6>
            <p class="card-text"><%= review.review %></p>
            <% if review.tags.present? %>
              <p class="card-text"><strong>タグ:</strong>
                <% review.tags.each do |tag| %>
                  <span><%= link_to tag.tag_name, tag_reviews_path(tag_id: tag.id) %></span>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>