<div class="container">
  <div class="row">
    <% @post_items.each do |post_item| %>
      <div class="col">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <p class="card-title"><%= link_to post_item.item_name, post_item_path(post_item.id) %></p>
            <p class="card-subtitle"><%= post_item.shop.shop_name %></p>
            
            <% if post_item.bookmark_by?(current_user) %>
              <p>
                <%= link_to post_item_bookmarks_path(post_item), method: :delete do %>
                  <%= post_item.bookmarks.count %>いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to post_item_bookmarks_path(post_item), method: :post do %>
                  <%= post_item.bookmarks.count %>いいね
                <% end %>
              </p>
            <% end %>      
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

