<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <% if @post_items.present? %>
          <% @post_items.each do |post_item| %>
            <div class="col-md-4">
              <div class="card bg-light mb-3" style="max-width: 20rem; height: 24rem;">
                <div class="card-body">
                  <p class="card-title"><%= link_to post_item.item_name, post_item_path(post_item.id) %></p>
                  <p class="card-subtitle"><%= post_item.shop.shop_name %></p>
                  <p class="card-subtitle"><%= post_item.shop.address %></p>
                  <% if post_item.item_image.present? %>
                    <%= link_to post_item_path(post_item.id) do %>
                      <%= image_tag post_item.get_image(200,200) %></br>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-footer" style="border-color: transparent; background-color: transparent; position: absolute; bottom: 0;">
                  <% if post_item.bookmark_by?(current_user) %>
                    <p>
                      <%= link_to post_item_bookmarks_path(post_item), method: :delete, class: "btn btn-danger" do %>
                        <%= post_item.bookmarks.count %>いいね
                      <% end %>
                    </p>
                  <% else %>
                    <p>
                      <%= link_to post_item_bookmarks_path(post_item), method: :post, class: "btn btn-success" do %>
                        <%= post_item.bookmarks.count %>いいね
                      <% end %>
                    </p>
                  <% end %>
  
                  <!-- レビューの数を表示 -->
                  <% if post_item.reviews.where(is_draft: false).count > 0 %>
                    <%= link_to post_item_reviews_path(post_item) do %>
                      <%= post_item.reviews.where(is_draft: false).count %>件のレビュー
                    <% end %>
                  <% else %>
                    <%= "レビューがありません" %>
                  <% end %>
  
                  <%= link_to "レビューを投稿する", new_post_item_review_path(post_item.id) %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>検索結果がありません。</p>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @post_items %>
      </div>
    </div>
    <%= render 'search' %>
  </div>
</div>

