<div class="container">
  <div class="row">
    
    <%= form_with model: @post_item, local: true do |f| %>
      <ul class="">
        <%= f.label :item_name, "商品名" %>
        <%= f.text_field :item_name %>
      </ul>
      <ul class="">
        <%= f.label :price, "価格" %>
        <%= f.text_field :price %>
      </ul>
      
      <div class="">
        <%= f.label :item_URL, "URL" %>
        <%= f.text_field :item_URL %>
      </div>
      
      <%= fields_for @shop do |shop| %>
        <div class="">
          <%= shop.label :shop_name, "店名" %>
          <%= shop.text_field :shop_name %>
        </div>
        <div class="">
          <%= shop.label :address, "住所" %>
          <%= shop.text_field :address %>
        </div>
        <div class="">
          <%= shop.label :telephone_number, "電話番号" %>
          <%= shop.text_field :telephone_number %>
        </div>
        <div class="">
          <%= shop.label :shop_URL, "ホームページ" %>
          <%= shop.text_field :shop_URL %>
        </div>
        
      <% end %>
      
      
      
      <%= f.submit "投稿する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>