<div class="container">
  <div class="row">
    <div class="col">
      <%= @post_item.item_name %>
      
    </div>
    
    
   
    
    <% if @post_item.bookmark_by?(current_user) %>
      <p>
        <%= link_to post_item_bookmarks_path(@post_item), method: :delete do %>
          <%= @post_item.bookmarks.count %>いいね
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to post_item_bookmarks_path(@post_item), method: :post do %>
          <%= @post_item.bookmarks.count %>いいね
        <% end %>
      </p>
    <% end %>
    
    <!-- 投稿編集用 -->
    <div class="row">
      <div class="col">
        <%= link_to "投稿内容を編集する", edit_post_item_path(@post_item.id) %>
      </div>
    </div>
    
    <div class="col">
      <p>レビュー件数：<%= @post_item.reviews.count %></p>
      <% @post_item.reviews.each do |review| %>
       <% unless review.is_draft == true %>
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <p class="card-title"><%= review.user.name %></p>
            <p class="card-subtitle"><%= review.review %></p>
            <div class="col">
              <div id="star-rate<%= review.id %>">
                <script>
                  $('#star-rate<%= review.id %>').empty();
                  $('#star-rate<%= review.id %>').raty({
                    size: 36,
                    starOff: '<%= asset_path('star-off.png') %>',
                    starOn: '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= review.evaluation %>,
                  })
                </script>
              </div>
          </div>
          <%= link_to "レビューを見る", post_item_review_path(review.post_item, review) %>
          <% if review.user == current_user %>
            <%= link_to "削除", post_item_review_path(review.post_item, review), method: :delete %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
    
    <div class="col">
      <%= link_to "レビューを投稿する", new_post_item_review_path(@post_item.id) %>
    </div>
  </div>
  <div class="row"></div>
